{% extends "base.html" %}
{% block title %}Crossword Composer{% endblock %}
{% block content %}

<h4>Getting Started</h4>
Crossword Composer supports the creation, editing, and sharing of two puzzle types, the US type that you might see in, say, the New York Times, and the
Cryptic variety that you might see in the Guardian or the Independent, or many other UK newspapers.  You may select a grid by clicking on "New US Grid" 
or "New Cryptic Grid".  Keep clicking until you see a grid you like.  Once you have selected a grid, type your name and a title for your puzzle in the 
upper left of the screen.  Remember what you typed, because these fields will be used to save and retrieve the puzzle as you work on it.
If you click on any open square in the grid, you will see a yellow bar highlighting the active answer space.
Start typing the answer, and as you finish, the focus will
shift to the clue entry box, where you can type in the clue for the answer that you put in the grid.

<h4>Saving and Retrieving</h4>
Once your puzzle has an Author and Title assigned to it, you may save it at any time.  You may share your puzzle with others by giving them the Author and Title 
fields that you selected.  Anyone can retrieve a puzzle by typing in the author and title associated with it. Alternatively, whenever you save or retrieve, the URL in
the location bar of your browser may be copied and shared with others via chat or email in order to provide them with a reusable link to your puzzle.  All saved puzzles,
whether composing or solving, are saved on the server and not on the computer you are using, so you can go back to the site from any computer and access your
saved puzzles (or other people's public saved puzzles) much as you would with web-based email such as gmail or Yahoo mail.

<h4>Printing</h4>
Pressing the "Print" button will open a printable page in a separate tab in your browser.  This is available in either Compose or Solve mode.

<h4>Solving</h4>
If you press the "Solve" button, you will enter a mode with the answers hidden.  You may enter a solver name and fill in the answer squares. The "Save" button will save
your solution attempt.  It's a good idea to copy or bookmark the URL of a saved solution attempt so you can get back to it easily.

<h4>Grid Design</h4>
Many valid grids are available simply by clicking on "New Cryptic Grid" or "New US Grid".  You may also design your own grid by clicking "Customize Grid". This
will put you in a Grid Design mode which will enforce standard symmetry rules for you.  When you are happy with the result, click "Use Grid" and you will be returned to 
compose mode with the grid you have created.

<h4>Import and Export</h4>
"From XPF" and "From .puz" will accept a URL and will try to load the file from that URL. This must be a publicly available site with no password required.  If the file
is local to your computer, use a "file://" url to access it.  You may also save the file to an XPF (XML) or .puz (Across Lite) file using the "To XPF" or "To .puz"
button.

<h4>Word Lookup</h4>
Often in the process of answer entry it becomes difficult to find words given the constraints imposed by answers already constructed in the puzzle.  If the yellow bar
encompasses one or more letters in such a thorny situation, the "Words" button may be used to look up possibilities.  Alternatives will
appear beneath the puzzle in the form of buttons which, if clicked, will autofill the answer space.  The dictionary used for this is the UK Advanced 
Cryptics Dictionary currently, and new dictionaries and custom word lists are added as they become available.

<h4>Clue Lookup</h4>
The "Clue" button will look up any existing clues for the selected answer in the database of saved puzzles.

<h4>Questions and Comments</h4>
Please join the <a href="http://groups.google.com/group/crosswordcomposer"> Discussion Group </a> if you have word lists to contribute, or questions about the service.  Have Fun!
{% endblock %}
