{% extends "base.html" %}

{% block title %}The current value{% endblock %}

{% block content %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<div class="crossword">
  
  <style>
            
        @import "http://bundy.org/xw/crossword-8-col.css";
            

	
	</style>
  
  <script src="http://bundy.org/xw/jquery.hotkeys-0.7.9.js"></script>
  <script src="http://bundy.org/xw/jquery.cookie.js"></script>
  <script src="http://bundy.org/xw/crossword.js"></script>
		<script>
		
			var crossword_identifier = 'crossword-agh4LXB1enpsZXIRCxIJQ3Jvc3N3b3JkGMGTOAw';
			var intersections = {};
			
				intersections["4-down-6"] = "12-across-7";
			
				intersections["22-across-8"] = "8-down-10";
			
				intersections["10-across-5"] = "4-down-4";
			
				intersections["10-across-7"] = "7-down-3";
			
				intersections["22-across-4"] = "19-down-3";
			
				intersections["22-across-6"] = "14-down-5";
			
				intersections["15-down-1"] = "13-across-10";
			
				intersections["12-across-7"] = "4-down-6";
			
				intersections["24-across-1"] = "16-down-6";
			
				intersections["19-down-1"] = "18-across-4";
			
				intersections["18-across-8"] = "8-down-8";
			
				intersections["1-down-2"] = "5-across-3";
			
				intersections["12-across-3"] = "8-down-4";
			
				intersections["8-down-2"] = "10-across-1";
			
				intersections["2-down-2"] = "5-across-5";
			
				intersections["9-across-2"] = "5-down-3";
			
				intersections["2-down-4"] = "9-across-6";
			
				intersections["9-across-4"] = "1-down-4";
			
				intersections["14-down-3"] = "18-across-6";
			
				intersections["3-down-2"] = "6-across-2";
			
				intersections["9-across-6"] = "2-down-4";
			
				intersections["6-across-2"] = "3-down-2";
			
				intersections["3-down-4"] = "10-across-3";
			
				intersections["10-across-1"] = "8-down-2";
			
				intersections["13-across-10"] = "15-down-1";
			
				intersections["20-down-5"] = "25-across-2";
			
				intersections["4-down-4"] = "10-across-5";
			
				intersections["6-across-4"] = "4-down-2";
			
				intersections["5-across-1"] = "5-down-1";
			
				intersections["3-down-8"] = "13-across-8";
			
				intersections["12-across-5"] = "3-down-6";
			
				intersections["11-across-4"] = "1-down-6";
			
				intersections["13-across-2"] = "1-down-8";
			
				intersections["18-across-4"] = "19-down-1";
			
				intersections["18-across-2"] = "16-down-2";
			
				intersections["6-across-6"] = "7-down-1";
			
				intersections["8-down-10"] = "22-across-8";
			
				intersections["24-across-5"] = "14-down-7";
			
				intersections["21-across-1"] = "15-down-3";
			
				intersections["1-down-4"] = "9-across-4";
			
				intersections["21-across-3"] = "17-down-2";
			
				intersections["25-across-4"] = "15-down-7";
			
				intersections["25-across-6"] = "17-down-6";
			
				intersections["20-down-3"] = "23-across-1";
			
				intersections["12-across-9"] = "7-down-5";
			
				intersections["19-down-3"] = "22-across-4";
			
				intersections["17-down-2"] = "21-across-3";
			
				intersections["23-across-1"] = "20-down-3";
			
				intersections["5-across-5"] = "2-down-2";
			
				intersections["18-across-6"] = "14-down-3";
			
				intersections["17-down-4"] = "23-across-5";
			
				intersections["23-across-3"] = "15-down-5";
			
				intersections["23-across-5"] = "17-down-4";
			
				intersections["5-across-3"] = "1-down-2";
			
				intersections["5-down-1"] = "5-across-1";
			
				intersections["5-down-3"] = "9-across-2";
			
				intersections["5-down-5"] = "11-across-2";
			
				intersections["1-down-6"] = "11-across-4";
			
				intersections["1-down-8"] = "13-across-2";
			
				intersections["16-down-4"] = "22-across-2";
			
				intersections["8-down-6"] = "13-across-6";
			
				intersections["8-down-8"] = "18-across-8";
			
				intersections["7-down-5"] = "12-across-9";
			
				intersections["15-down-3"] = "21-across-1";
			
				intersections["15-down-5"] = "23-across-3";
			
				intersections["15-down-7"] = "25-across-4";
			
				intersections["17-down-6"] = "25-across-6";
			
				intersections["10-across-3"] = "3-down-4";
			
				intersections["20-down-1"] = "18-across-10";
			
				intersections["11-across-2"] = "5-down-5";
			
				intersections["16-down-2"] = "18-across-2";
			
				intersections["14-down-7"] = "24-across-5";
			
				intersections["24-across-3"] = "19-down-5";
			
				intersections["13-across-8"] = "3-down-8";
			
				intersections["19-down-5"] = "24-across-3";
			
				intersections["18-across-10"] = "20-down-1";
			
				intersections["7-down-1"] = "6-across-6";
			
				intersections["14-down-5"] = "22-across-6";
			
				intersections["8-down-4"] = "12-across-3";
			
				intersections["14-down-1"] = "13-across-4";
			
				intersections["4-down-2"] = "6-across-4";
			
				intersections["13-across-6"] = "8-down-6";
			
				intersections["3-down-6"] = "12-across-5";
			
				intersections["12-across-1"] = "2-down-6";
			
				intersections["16-down-6"] = "24-across-1";
			
				intersections["2-down-6"] = "12-across-1";
			
				intersections["25-across-2"] = "20-down-5";
			
				intersections["22-across-2"] = "16-down-4";
			
				intersections["13-across-4"] = "14-down-1";
			
				intersections["7-down-3"] = "10-across-7";
			
			var words_for_clue = {};
			
				words_for_clue["12-across"] = ['12-across'];
			
				words_for_clue["6-across"] = ['6-across'];
			
				words_for_clue["23-across"] = ['23-across'];
			
				words_for_clue["4-down"] = ['4-down'];
			
				words_for_clue["15-down"] = ['15-down'];
			
				words_for_clue["7-down"] = ['7-down'];
			
				words_for_clue["11-across"] = ['11-across'];
			
				words_for_clue["18-across"] = ['18-across'];
			
				words_for_clue["9-across"] = ['9-across'];
			
				words_for_clue["25-across"] = ['25-across'];
			
				words_for_clue["13-across"] = ['13-across'];
			
				words_for_clue["17-down"] = ['17-down'];
			
				words_for_clue["22-across"] = ['22-across'];
			
				words_for_clue["24-across"] = ['24-across'];
			
				words_for_clue["1-down"] = ['1-down'];
			
				words_for_clue["14-down"] = ['14-down'];
			
				words_for_clue["3-down"] = ['3-down'];
			
				words_for_clue["20-down"] = ['20-down'];
			
				words_for_clue["8-down"] = ['8-down'];
			
				words_for_clue["5-across"] = ['5-across'];
			
				words_for_clue["21-across"] = ['21-across'];
			
				words_for_clue["16-down"] = ['16-down'];
			
				words_for_clue["19-down"] = ['19-down'];
			
				words_for_clue["5-down"] = ['5-down'];
			
				words_for_clue["2-down"] = ['2-down'];
			
				words_for_clue["10-across"] = ['10-across'];
			
			var solutions = {};
			
				
					solutions["5-across-1"] = "P";
				
					solutions["5-across-2"] = "U";
				
					solutions["5-across-3"] = "R";
				
					solutions["5-across-4"] = "S";
				
					solutions["5-across-5"] = "U";
				
					solutions["5-across-6"] = "E";
				
			
				
					solutions["6-across-1"] = "C";
				
					solutions["6-across-2"] = "R";
				
					solutions["6-across-3"] = "O";
				
					solutions["6-across-4"] = "O";
				
					solutions["6-across-5"] = "K";
				
					solutions["6-across-6"] = "S";
				
			
				
					solutions["9-across-1"] = "C";
				
					solutions["9-across-2"] = "O";
				
					solutions["9-across-3"] = "M";
				
					solutions["9-across-4"] = "B";
				
					solutions["9-across-5"] = "A";
				
					solutions["9-across-6"] = "T";
				
			
				
					solutions["10-across-1"] = "L";
				
					solutions["10-across-2"] = "A";
				
					solutions["10-across-3"] = "D";
				
					solutions["10-across-4"] = "Y";
				
					solutions["10-across-5"] = "S";
				
					solutions["10-across-6"] = "M";
				
					solutions["10-across-7"] = "A";
				
					solutions["10-across-8"] = "N";
				
			
				
					solutions["11-across-1"] = "H";
				
					solutions["11-across-2"] = "E";
				
					solutions["11-across-3"] = "R";
				
					solutions["11-across-4"] = "A";
				
			
				
					solutions["12-across-1"] = "E";
				
					solutions["12-across-2"] = "V";
				
					solutions["12-across-3"] = "I";
				
					solutions["12-across-4"] = "S";
				
					solutions["12-across-5"] = "C";
				
					solutions["12-across-6"] = "E";
				
					solutions["12-across-7"] = "R";
				
					solutions["12-across-8"] = "A";
				
					solutions["12-across-9"] = "T";
				
					solutions["12-across-10"] = "E";
				
			
				
					solutions["13-across-1"] = "D";
				
					solutions["13-across-2"] = "E";
				
					solutions["13-across-3"] = "M";
				
					solutions["13-across-4"] = "O";
				
					solutions["13-across-5"] = "N";
				
					solutions["13-across-6"] = "S";
				
					solutions["13-across-7"] = "T";
				
					solutions["13-across-8"] = "R";
				
					solutions["13-across-9"] = "A";
				
					solutions["13-across-10"] = "T";
				
					solutions["13-across-11"] = "E";
				
			
				
					solutions["18-across-1"] = "O";
				
					solutions["18-across-2"] = "N";
				
					solutions["18-across-3"] = "S";
				
					solutions["18-across-4"] = "C";
				
					solutions["18-across-5"] = "H";
				
					solutions["18-across-6"] = "E";
				
					solutions["18-across-7"] = "D";
				
					solutions["18-across-8"] = "U";
				
					solutions["18-across-9"] = "L";
				
					solutions["18-across-10"] = "E";
				
			
				
					solutions["21-across-1"] = "U";
				
					solutions["21-across-2"] = "R";
				
					solutions["21-across-3"] = "G";
				
					solutions["21-across-4"] = "E";
				
			
				
					solutions["22-across-1"] = "S";
				
					solutions["22-across-2"] = "H";
				
					solutions["22-across-3"] = "A";
				
					solutions["22-across-4"] = "N";
				
					solutions["22-across-5"] = "G";
				
					solutions["22-across-6"] = "H";
				
					solutions["22-across-7"] = "A";
				
					solutions["22-across-8"] = "I";
				
			
				
					solutions["23-across-1"] = "A";
				
					solutions["23-across-2"] = "T";
				
					solutions["23-across-3"] = "H";
				
					solutions["23-across-4"] = "E";
				
					solutions["23-across-5"] = "N";
				
					solutions["23-across-6"] = "S";
				
			
				
					solutions["24-across-1"] = "S";
				
					solutions["24-across-2"] = "K";
				
					solutions["24-across-3"] = "I";
				
					solutions["24-across-4"] = "R";
				
					solutions["24-across-5"] = "U";
				
					solutions["24-across-6"] = "N";
				
			
				
					solutions["25-across-1"] = "S";
				
					solutions["25-across-2"] = "T";
				
					solutions["25-across-3"] = "O";
				
					solutions["25-across-4"] = "N";
				
					solutions["25-across-5"] = "E";
				
					solutions["25-across-6"] = "S";
				
			
				
					solutions["1-down-1"] = "C";
				
					solutions["1-down-2"] = "R";
				
					solutions["1-down-3"] = "I";
				
					solutions["1-down-4"] = "B";
				
					solutions["1-down-5"] = "B";
				
					solutions["1-down-6"] = "A";
				
					solutions["1-down-7"] = "G";
				
					solutions["1-down-8"] = "E";
				
			
				
					solutions["2-down-1"] = "A";
				
					solutions["2-down-2"] = "U";
				
					solutions["2-down-3"] = "N";
				
					solutions["2-down-4"] = "T";
				
					solutions["2-down-5"] = "I";
				
					solutions["2-down-6"] = "E";
				
			
				
					solutions["3-down-1"] = "P";
				
					solutions["3-down-2"] = "R";
				
					solutions["3-down-3"] = "O";
				
					solutions["3-down-4"] = "D";
				
					solutions["3-down-5"] = "U";
				
					solutions["3-down-6"] = "C";
				
					solutions["3-down-7"] = "E";
				
					solutions["3-down-8"] = "R";
				
			
				
					solutions["4-down-1"] = "D";
				
					solutions["4-down-2"] = "O";
				
					solutions["4-down-3"] = "W";
				
					solutions["4-down-4"] = "S";
				
					solutions["4-down-5"] = "E";
				
					solutions["4-down-6"] = "R";
				
			
				
					solutions["5-down-1"] = "P";
				
					solutions["5-down-2"] = "H";
				
					solutions["5-down-3"] = "O";
				
					solutions["5-down-4"] = "N";
				
					solutions["5-down-5"] = "E";
				
					solutions["5-down-6"] = "Y";
				
			
				
					solutions["7-down-1"] = "S";
				
					solutions["7-down-2"] = "H";
				
					solutions["7-down-3"] = "A";
				
					solutions["7-down-4"] = "N";
				
					solutions["7-down-5"] = "T";
				
					solutions["7-down-6"] = "Y";
				
			
				
					solutions["8-down-1"] = "P";
				
					solutions["8-down-2"] = "L";
				
					solutions["8-down-3"] = "A";
				
					solutions["8-down-4"] = "I";
				
					solutions["8-down-5"] = "N";
				
					solutions["8-down-6"] = "S";
				
					solutions["8-down-7"] = "T";
				
					solutions["8-down-8"] = "U";
				
					solutions["8-down-9"] = "P";
				
					solutions["8-down-10"] = "I";
				
					solutions["8-down-11"] = "D";
				
			
				
					solutions["14-down-1"] = "O";
				
					solutions["14-down-2"] = "V";
				
					solutions["14-down-3"] = "E";
				
					solutions["14-down-4"] = "R";
				
					solutions["14-down-5"] = "H";
				
					solutions["14-down-6"] = "A";
				
					solutions["14-down-7"] = "U";
				
					solutions["14-down-8"] = "L";
				
			
				
					solutions["15-down-1"] = "T";
				
					solutions["15-down-2"] = "O";
				
					solutions["15-down-3"] = "U";
				
					solutions["15-down-4"] = "C";
				
					solutions["15-down-5"] = "H";
				
					solutions["15-down-6"] = "I";
				
					solutions["15-down-7"] = "N";
				
					solutions["15-down-8"] = "G";
				
			
				
					solutions["16-down-1"] = "I";
				
					solutions["16-down-2"] = "N";
				
					solutions["16-down-3"] = "C";
				
					solutions["16-down-4"] = "H";
				
					solutions["16-down-5"] = "E";
				
					solutions["16-down-6"] = "S";
				
			
				
					solutions["17-down-1"] = "A";
				
					solutions["17-down-2"] = "G";
				
					solutions["17-down-3"] = "E";
				
					solutions["17-down-4"] = "N";
				
					solutions["17-down-5"] = "T";
				
					solutions["17-down-6"] = "S";
				
			
				
					solutions["19-down-1"] = "C";
				
					solutions["19-down-2"] = "A";
				
					solutions["19-down-3"] = "N";
				
					solutions["19-down-4"] = "D";
				
					solutions["19-down-5"] = "I";
				
					solutions["19-down-6"] = "D";
				
			
				
					solutions["20-down-1"] = "E";
				
					solutions["20-down-2"] = "X";
				
					solutions["20-down-3"] = "A";
				
					solutions["20-down-4"] = "L";
				
					solutions["20-down-5"] = "T";
				
					solutions["20-down-6"] = "S";
				
			
			
			var has_numbers = true;
			
			var path = "http://www.guardian.co.uk/crosswords/cryptic/25443"
		
		</script>
	
	<div id="article-header">
		<div id="main-article-info">
			<h1>Cryptic crossword No 25,443</h1>
			
				<p id="stand-first" class="stand-first-alone">
					
						<a href="25443/print">Print version</a> | <a href="25443/blind">Blind &amp; PS version</a> | <a href="http://static.guim.co.uk/crosswords/pdfs/gdn.cryptic.20111003.pdf">PDF version</a>
					
				</p>
			
			
		</div>
	</div>
	<div id="content">
		<ul class="article-attributes">
			
			<li class="byline">Set by <a href="http://www.guardian.co.uk/profile/rufus">Rufus</a></li>
			
			<li class="publication"><a href="http://www.guardian.co.uk/theguardian">The Guardian</a>, Monday 3 October 2011 00.00 GMT</li>
		</ul>

		
						
		<form id="crossword" method="post">
			
				<div id="grid" style="width: 435px; height: 435px;">
				<img src="http://www.guardian.co.uk/crosswords/css/print-background.gif" alt="" id="print-background"  style="width: 435px; height: 435px;" />
					
					
					<span style="left: 29px; top: 29px;" class="across">5</span>
					
					<div id="5-across" style="z-index: 5; left: 29px; top: 29px;" class="across">
						<fieldset>
							<legend>5 across</legend>
							<ol>
							
								<li>
									<input id="5-across-1" name="5-across-1" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="5-across-2" name="5-across-2" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="5-across-3" name="5-across-3" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="5-across-4" name="5-across-4" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="5-across-5" name="5-across-5" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="5-across-6" name="5-across-6" maxlength="1" class=" ">
								</li>
							
							</ol>
					</div> 
					
					
					<span style="left: 232px; top: 29px;" class="across">6</span>
					
					<div id="6-across" style="z-index: 6; left: 232px; top: 29px;" class="across">
						<fieldset>
							<legend>6 across</legend>
							<ol>
							
								<li>
									<input id="6-across-1" name="6-across-1" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="6-across-2" name="6-across-2" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="6-across-3" name="6-across-3" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="6-across-4" name="6-across-4" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="6-across-5" name="6-across-5" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="6-across-6" name="6-across-6" maxlength="1" class=" ">
								</li>
							
							</ol>
					</div> 
					
					
					<span style="left: 0px; top: 87px;" class="across">9</span>
					
					<div id="9-across" style="z-index: 9; left: 0px; top: 87px;" class="across">
						<fieldset>
							<legend>9 across</legend>
							<ol>
							
								<li>
									<input id="9-across-1" name="9-across-1" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="9-across-2" name="9-across-2" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="9-across-3" name="9-across-3" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="9-across-4" name="9-across-4" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="9-across-5" name="9-across-5" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="9-across-6" name="9-across-6" maxlength="1" class=" ">
								</li>
							
							</ol>
					</div> 
					
					
					<span style="left: 203px; top: 87px;" class="across">10</span>
					
					<div id="10-across" style="z-index: 10; left: 203px; top: 87px;" class="across">
						<fieldset>
							<legend>10 across</legend>
							<ol>
							
								<li>
									<input id="10-across-1" name="10-across-1" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="10-across-2" name="10-across-2" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="10-across-3" name="10-across-3" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="10-across-4" name="10-across-4" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="10-across-5" name="10-across-5" maxlength="1" class="across-end ">
								</li>
							
								<li>
									<input id="10-across-6" name="10-across-6" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="10-across-7" name="10-across-7" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="10-across-8" name="10-across-8" maxlength="1" class=" ">
								</li>
							
							</ol>
					</div> 
					
					
					<span style="left: 0px; top: 145px;" class="across">11</span>
					
					<div id="11-across" style="z-index: 11; left: 0px; top: 145px;" class="across">
						<fieldset>
							<legend>11 across</legend>
							<ol>
							
								<li>
									<input id="11-across-1" name="11-across-1" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="11-across-2" name="11-across-2" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="11-across-3" name="11-across-3" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="11-across-4" name="11-across-4" maxlength="1" class=" ">
								</li>
							
							</ol>
					</div> 
					
					
					<span style="left: 145px; top: 145px;" class="across">12</span>
					
					<div id="12-across" style="z-index: 12; left: 145px; top: 145px;" class="across">
						<fieldset>
							<legend>12 across</legend>
							<ol>
							
								<li>
									<input id="12-across-1" name="12-across-1" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="12-across-2" name="12-across-2" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="12-across-3" name="12-across-3" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="12-across-4" name="12-across-4" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="12-across-5" name="12-across-5" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="12-across-6" name="12-across-6" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="12-across-7" name="12-across-7" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="12-across-8" name="12-across-8" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="12-across-9" name="12-across-9" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="12-across-10" name="12-across-10" maxlength="1" class=" ">
								</li>
							
							</ol>
					</div> 
					
					
					<span style="left: 58px; top: 203px;" class="across">13</span>
					
					<div id="13-across" style="z-index: 13; left: 58px; top: 203px;" class="across">
						<fieldset>
							<legend>13 across</legend>
							<ol>
							
								<li>
									<input id="13-across-1" name="13-across-1" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="13-across-2" name="13-across-2" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="13-across-3" name="13-across-3" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="13-across-4" name="13-across-4" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="13-across-5" name="13-across-5" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="13-across-6" name="13-across-6" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="13-across-7" name="13-across-7" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="13-across-8" name="13-across-8" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="13-across-9" name="13-across-9" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="13-across-10" name="13-across-10" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="13-across-11" name="13-across-11" maxlength="1" class=" ">
								</li>
							
							</ol>
					</div> 
					
					
					<span style="left: 0px; top: 261px;" class="across">18</span>
					
					<div id="18-across" style="z-index: 18; left: 0px; top: 261px;" class="across">
						<fieldset>
							<legend>18 across</legend>
							<ol>
							
								<li>
									<input id="18-across-1" name="18-across-1" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="18-across-2" name="18-across-2" maxlength="1" class="across-end ">
								</li>
							
								<li>
									<input id="18-across-3" name="18-across-3" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="18-across-4" name="18-across-4" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="18-across-5" name="18-across-5" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="18-across-6" name="18-across-6" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="18-across-7" name="18-across-7" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="18-across-8" name="18-across-8" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="18-across-9" name="18-across-9" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="18-across-10" name="18-across-10" maxlength="1" class=" ">
								</li>
							
							</ol>
					</div> 
					
					
					<span style="left: 319px; top: 261px;" class="across">21</span>
					
					<div id="21-across" style="z-index: 21; left: 319px; top: 261px;" class="across">
						<fieldset>
							<legend>21 across</legend>
							<ol>
							
								<li>
									<input id="21-across-1" name="21-across-1" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="21-across-2" name="21-across-2" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="21-across-3" name="21-across-3" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="21-across-4" name="21-across-4" maxlength="1" class=" ">
								</li>
							
							</ol>
					</div> 
					
					
					<span style="left: 0px; top: 319px;" class="across">22</span>
					
					<div id="22-across" style="z-index: 22; left: 0px; top: 319px;" class="across">
						<fieldset>
							<legend>22 across</legend>
							<ol>
							
								<li>
									<input id="22-across-1" name="22-across-1" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="22-across-2" name="22-across-2" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="22-across-3" name="22-across-3" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="22-across-4" name="22-across-4" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="22-across-5" name="22-across-5" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="22-across-6" name="22-across-6" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="22-across-7" name="22-across-7" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="22-across-8" name="22-across-8" maxlength="1" class=" ">
								</li>
							
							</ol>
					</div> 
					
					
					<span style="left: 261px; top: 319px;" class="across">23</span>
					
					<div id="23-across" style="z-index: 23; left: 261px; top: 319px;" class="across">
						<fieldset>
							<legend>23 across</legend>
							<ol>
							
								<li>
									<input id="23-across-1" name="23-across-1" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="23-across-2" name="23-across-2" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="23-across-3" name="23-across-3" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="23-across-4" name="23-across-4" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="23-across-5" name="23-across-5" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="23-across-6" name="23-across-6" maxlength="1" class=" ">
								</li>
							
							</ol>
					</div> 
					
					
					<span style="left: 29px; top: 377px;" class="across">24</span>
					
					<div id="24-across" style="z-index: 24; left: 29px; top: 377px;" class="across">
						<fieldset>
							<legend>24 across</legend>
							<ol>
							
								<li>
									<input id="24-across-1" name="24-across-1" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="24-across-2" name="24-across-2" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="24-across-3" name="24-across-3" maxlength="1" class="across-end ">
								</li>
							
								<li>
									<input id="24-across-4" name="24-across-4" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="24-across-5" name="24-across-5" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="24-across-6" name="24-across-6" maxlength="1" class=" ">
								</li>
							
							</ol>
					</div> 
					
					
					<span style="left: 232px; top: 377px;" class="across">25</span>
					
					<div id="25-across" style="z-index: 25; left: 232px; top: 377px;" class="across">
						<fieldset>
							<legend>25 across</legend>
							<ol>
							
								<li>
									<input id="25-across-1" name="25-across-1" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="25-across-2" name="25-across-2" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="25-across-3" name="25-across-3" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="25-across-4" name="25-across-4" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="25-across-5" name="25-across-5" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="25-across-6" name="25-across-6" maxlength="1" class=" ">
								</li>
							
							</ol>
					</div> 
					
					
					<span style="left: 87px; top: 0px;" class="down">1</span>
					
					<div id="1-down" style="z-index: 1; left: 87px; top: 0px;" class="down">
						<fieldset>
							<legend>1 down</legend>
							<ol>
							
								<li>
									<input id="1-down-1" name="1-down-1" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="1-down-2" name="1-down-2" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="1-down-3" name="1-down-3" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="1-down-4" name="1-down-4" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="1-down-5" name="1-down-5" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="1-down-6" name="1-down-6" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="1-down-7" name="1-down-7" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="1-down-8" name="1-down-8" maxlength="1" class=" ">
								</li>
							
							</ol>
					</div> 
					
					
					<span style="left: 145px; top: 0px;" class="down">2</span>
					
					<div id="2-down" style="z-index: 2; left: 145px; top: 0px;" class="down">
						<fieldset>
							<legend>2 down</legend>
							<ol>
							
								<li>
									<input id="2-down-1" name="2-down-1" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="2-down-2" name="2-down-2" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="2-down-3" name="2-down-3" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="2-down-4" name="2-down-4" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="2-down-5" name="2-down-5" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="2-down-6" name="2-down-6" maxlength="1" class=" ">
								</li>
							
							</ol>
					</div> 
					
					
					<span style="left: 261px; top: 0px;" class="down">3</span>
					
					<div id="3-down" style="z-index: 3; left: 261px; top: 0px;" class="down">
						<fieldset>
							<legend>3 down</legend>
							<ol>
							
								<li>
									<input id="3-down-1" name="3-down-1" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="3-down-2" name="3-down-2" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="3-down-3" name="3-down-3" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="3-down-4" name="3-down-4" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="3-down-5" name="3-down-5" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="3-down-6" name="3-down-6" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="3-down-7" name="3-down-7" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="3-down-8" name="3-down-8" maxlength="1" class=" ">
								</li>
							
							</ol>
					</div> 
					
					
					<span style="left: 319px; top: 0px;" class="down">4</span>
					
					<div id="4-down" style="z-index: 4; left: 319px; top: 0px;" class="down">
						<fieldset>
							<legend>4 down</legend>
							<ol>
							
								<li>
									<input id="4-down-1" name="4-down-1" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="4-down-2" name="4-down-2" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="4-down-3" name="4-down-3" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="4-down-4" name="4-down-4" maxlength="1" class="across-end ">
								</li>
							
								<li>
									<input id="4-down-5" name="4-down-5" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="4-down-6" name="4-down-6" maxlength="1" class=" ">
								</li>
							
							</ol>
					</div> 
					
					
					<span style="left: 29px; top: 29px;" class="down">5</span>
					
					<div id="5-down" style="z-index: 5; left: 29px; top: 29px;" class="down">
						<fieldset>
							<legend>5 down</legend>
							<ol>
							
								<li>
									<input id="5-down-1" name="5-down-1" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="5-down-2" name="5-down-2" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="5-down-3" name="5-down-3" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="5-down-4" name="5-down-4" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="5-down-5" name="5-down-5" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="5-down-6" name="5-down-6" maxlength="1" class=" ">
								</li>
							
							</ol>
					</div> 
					
					
					<span style="left: 377px; top: 29px;" class="down">7</span>
					
					<div id="7-down" style="z-index: 7; left: 377px; top: 29px;" class="down">
						<fieldset>
							<legend>7 down</legend>
							<ol>
							
								<li>
									<input id="7-down-1" name="7-down-1" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="7-down-2" name="7-down-2" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="7-down-3" name="7-down-3" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="7-down-4" name="7-down-4" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="7-down-5" name="7-down-5" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="7-down-6" name="7-down-6" maxlength="1" class=" ">
								</li>
							
							</ol>
					</div> 
					
					
					<span style="left: 203px; top: 58px;" class="down">8</span>
					
					<div id="8-down" style="z-index: 8; left: 203px; top: 58px;" class="down">
						<fieldset>
							<legend>8 down</legend>
							<ol>
							
								<li>
									<input id="8-down-1" name="8-down-1" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="8-down-2" name="8-down-2" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="8-down-3" name="8-down-3" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="8-down-4" name="8-down-4" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="8-down-5" name="8-down-5" maxlength="1" class="down-end ">
								</li>
							
								<li>
									<input id="8-down-6" name="8-down-6" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="8-down-7" name="8-down-7" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="8-down-8" name="8-down-8" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="8-down-9" name="8-down-9" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="8-down-10" name="8-down-10" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="8-down-11" name="8-down-11" maxlength="1" class=" ">
								</li>
							
							</ol>
					</div> 
					
					
					<span style="left: 145px; top: 203px;" class="down">14</span>
					
					<div id="14-down" style="z-index: 14; left: 145px; top: 203px;" class="down">
						<fieldset>
							<legend>14 down</legend>
							<ol>
							
								<li>
									<input id="14-down-1" name="14-down-1" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="14-down-2" name="14-down-2" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="14-down-3" name="14-down-3" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="14-down-4" name="14-down-4" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="14-down-5" name="14-down-5" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="14-down-6" name="14-down-6" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="14-down-7" name="14-down-7" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="14-down-8" name="14-down-8" maxlength="1" class=" ">
								</li>
							
							</ol>
					</div> 
					
					
					<span style="left: 319px; top: 203px;" class="down">15</span>
					
					<div id="15-down" style="z-index: 15; left: 319px; top: 203px;" class="down">
						<fieldset>
							<legend>15 down</legend>
							<ol>
							
								<li>
									<input id="15-down-1" name="15-down-1" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="15-down-2" name="15-down-2" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="15-down-3" name="15-down-3" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="15-down-4" name="15-down-4" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="15-down-5" name="15-down-5" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="15-down-6" name="15-down-6" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="15-down-7" name="15-down-7" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="15-down-8" name="15-down-8" maxlength="1" class=" ">
								</li>
							
							</ol>
					</div> 
					
					
					<span style="left: 29px; top: 232px;" class="down">16</span>
					
					<div id="16-down" style="z-index: 16; left: 29px; top: 232px;" class="down">
						<fieldset>
							<legend>16 down</legend>
							<ol>
							
								<li>
									<input id="16-down-1" name="16-down-1" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="16-down-2" name="16-down-2" maxlength="1" class="across-end ">
								</li>
							
								<li>
									<input id="16-down-3" name="16-down-3" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="16-down-4" name="16-down-4" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="16-down-5" name="16-down-5" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="16-down-6" name="16-down-6" maxlength="1" class=" ">
								</li>
							
							</ol>
					</div> 
					
					
					<span style="left: 377px; top: 232px;" class="down">17</span>
					
					<div id="17-down" style="z-index: 17; left: 377px; top: 232px;" class="down">
						<fieldset>
							<legend>17 down</legend>
							<ol>
							
								<li>
									<input id="17-down-1" name="17-down-1" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="17-down-2" name="17-down-2" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="17-down-3" name="17-down-3" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="17-down-4" name="17-down-4" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="17-down-5" name="17-down-5" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="17-down-6" name="17-down-6" maxlength="1" class=" ">
								</li>
							
							</ol>
					</div> 
					
					
					<span style="left: 87px; top: 261px;" class="down">19</span>
					
					<div id="19-down" style="z-index: 19; left: 87px; top: 261px;" class="down">
						<fieldset>
							<legend>19 down</legend>
							<ol>
							
								<li>
									<input id="19-down-1" name="19-down-1" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="19-down-2" name="19-down-2" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="19-down-3" name="19-down-3" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="19-down-4" name="19-down-4" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="19-down-5" name="19-down-5" maxlength="1" class="across-end ">
								</li>
							
								<li>
									<input id="19-down-6" name="19-down-6" maxlength="1" class=" ">
								</li>
							
							</ol>
					</div> 
					
					
					<span style="left: 261px; top: 261px;" class="down">20</span>
					
					<div id="20-down" style="z-index: 20; left: 261px; top: 261px;" class="down">
						<fieldset>
							<legend>20 down</legend>
							<ol>
							
								<li>
									<input id="20-down-1" name="20-down-1" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="20-down-2" name="20-down-2" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="20-down-3" name="20-down-3" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="20-down-4" name="20-down-4" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="20-down-5" name="20-down-5" maxlength="1" class=" ">
								</li>
							
								<li>
									<input id="20-down-6" name="20-down-6" maxlength="1" class=" ">
								</li>
							
							</ol>
					</div> 
					
				</div>

				<div id="active-clue" 
				>
				</div>
				<div id="buttons-horizontal">
					<h3>Tools</h3>
					<input id="save" type="button" value="Save" />
					<input id="revert-to-saved" type="button" value="Revert to saved" />
					<input id="clear" type="button" value="Clear" />
			
							
					<input id="check" type="button" value="Check" />
					<input id="check-all" type="button" value="Check all" />
					

					<input id="anagrams" type="button" value="Anagram" />
					
					
					<input id="cheat" type="button" value="Cheat" />
					<input id="solution" type="button" value="Solution" />
					
				</div>

			

			<div id="clues">
				<div class="clues-col">
					
					<h4>Across</h4>
					
					<ol>
					
						<li><label id="5-across-clue" for="5-across">
							<span class="clue-number">5</span>  
							Seek to obtain funds to cover university entrance (6)</label></li>
					
						<li><label id="6-across-clue" for="6-across">
							<span class="clue-number">6</span>  
							Criminals taken in hand by bishops (6)</label></li>
					
						<li><label id="9-across-clue" for="9-across">
							<span class="clue-number">9</span>  
							Doctor in habit of fighting (6)</label></li>
					
						<li><label id="10-across-clue" for="10-across">
							<span class="clue-number">10</span>  
							Many lads fancy being a success with females (5,3)</label></li>
					
						<li><label id="11-across-clue" for="11-across">
							<span class="clue-number">11</span>  
							Hot time for wife of Zeus (4)</label></li>
					
						<li><label id="12-across-clue" for="12-across">
							<span class="clue-number">12</span>  
							Remove vital parts of broken tea service (10)</label></li>
					
						<li><label id="13-across-clue" for="13-across">
							<span class="clue-number">13</span>  
							Show how devil and saint rank in estimation (11)</label></li>
					
						<li><label id="18-across-clue" for="18-across">
							<span class="clue-number">18</span>  
							Do see lunch is set out at the correct time (2,8)</label></li>
					
						<li><label id="21-across-clue" for="21-across">
							<span class="clue-number">21</span>  
							Appeal to counsel (4)</label></li>
					
						<li><label id="22-across-clue" for="22-across">
							<span class="clue-number">22</span>  
							Force to serve port (8)</label></li>
					
						<li><label id="23-across-clue" for="23-across">
							<span class="clue-number">23</span>  
							Capital A followed by S? (6)</label></li>
					
						<li><label id="24-across-clue" for="24-across">
							<span class="clue-number">24</span>  
							The slippery slope taken by some sportsmen (3,3)</label></li>
					
						<li><label id="25-across-clue" for="25-across">
							<span class="clue-number">25</span>  
							More than one rock group? (6)</label></li>
					
					</ol>
				</div>
				<div class="clues-col last">
					
					<h4>Down</h4>
					
					<ol>
					
						<li><label id="1-down-clue" for="1-down">
							<span class="clue-number">1</span>  
							Cheat to secure point in card game (8)</label></li>
					
						<li><label id="2-down-clue" for="2-down">
							<span class="clue-number">2</span>  
							A loose word for the BBC (6)</label></li>
					
						<li><label id="3-down-clue" for="3-down">
							<span class="clue-number">3</span>  
							Director has staff dressed in purple king or queen coming (8)</label></li>
					
						<li><label id="4-down-clue" for="4-down">
							<span class="clue-number">4</span>  
							He hopes to find you well (6)</label></li>
					
						<li><label id="5-down-clue" for="5-down">
							<span class="clue-number">5</span>  
							Fake ring revealed by youth leader (6)</label></li>
					
						<li><label id="7-down-clue" for="7-down">
							<span class="clue-number">7</span>  
							Sea air (6)</label></li>
					
						<li><label id="8-down-clue" for="8-down">
							<span class="clue-number">8</span>  
							Pretty smart? Quite the reverse (5,6)</label></li>
					
						<li><label id="14-down-clue" for="14-down">
							<span class="clue-number">14</span>  
							Service pass (8)</label></li>
					
						<li><label id="15-down-clue" for="15-down">
							<span class="clue-number">15</span>  
							Moving about (8)</label></li>
					
						<li><label id="16-down-clue" for="16-down">
							<span class="clue-number">16</span>  
							Moves slowly in unfinished game on board (6)</label></li>
					
						<li><label id="17-down-clue" for="17-down">
							<span class="clue-number">17</span>  
							They may be after estateamen! (6)</label></li>
					
						<li><label id="19-down-clue" for="19-down">
							<span class="clue-number">19</span>  
							Open prison was adequate (6)</label></li>
					
						<li><label id="20-down-clue" for="20-down">
							<span class="clue-number">20</span>  
							Raises new taxes, accepting pound (6)</label></li>
					
					</ol>
				</div>
			</div>

		</form>
		</div>
	</div>
	


{% endblock %}
